<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask on Colab</title>
</head>
<div class="Frame1" style="width: 982px; height: 542px; position: relative; background: white">
  <div class="Rectangle1" style="width: 982px; height: 102px; left: 0px; top: 0px; position: absolute; background: #B2BDFB"></div>
  <div class="TimeComplexityPredictor" style=" height: 42px; left: 330px; top: 35px; position: absolute; text-align: center; color: black; font-size: 25px; ; font-weight: 800; word-wrap: break-word">TIME COMPLEXITY PREDICTOR</div>
  <div class="MingcuteMagicHatFill" style="width: 41px; height: 41px; left: 653px; top: 25px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
    <div class="Group" style="width: 41px; height: 41px; position: relative">
      <div class="Vector" style="width: 41px; height: 41px; left: 0px; top: 0px; position: absolute"></div>
      <img style="width: 31.74px; height: 29.77px; left: 65px; top: 8px; position: absolute" src="https://ifh.cc/g/kVCy55.png"/>
    </div>
  </div>
  <div class="Rectangle2" style="width: 425px; height: 393px; left: 23px; top: 125px; position: absolute; background: #B2BDFB; border-radius: 30px"></div>
  <form action="\" method="post" class="input-form">
  <textarea class="202305123371" id="input_data" name="input_data" type = text value="{{ input_data }}" style="width: 368px; height: 277px; left: 51px; top: 191px; position: absolute; resize: none" name="" />{{ input_data }}</textarea>
  <div class="Predict" style="left: 462px; top: 330px; position: absolute; text-align: center; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">PREDICT!</div>
  <div class="MingcuteMagicHatFill" style="width: 41px; height: 41px; left: 473px; top: 281px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
    <div class="Group" style="width: 41px; height: 41px; position: relative">
      <div class="Vector" style="width: 41px; height: 41px; left: 0px; top: 0px; position: absolute"></div>
      <input type="image" style="width: 40px; height: 35px; top: 6.11px; position: absolute" src="https://ifh.cc/g/kVCy55.png"/>
    </div>
  </div>
  <div class="SourceCode" style="height: 16px; left: 175px; top: 149px; position: absolute; text-align: center; color: black; font-size: 18px; font-weight: 600; word-wrap: break-word">SOURCE CODE</div>
  <img class="Wizard145438512801" style="width: 411px; height: 261px; left: 582px; top: 271px; position: absolute" src="https://ifh.cc/g/BCnGr7.png" />
  <div>
    <div class="Ellipse1" style="width: 204px; height: 190px; left: 533px; top: 162px; position: absolute; background: #B2BDFB; box-shadow: 4px 4px 4px; border-radius: 9999px;"> 
      {% if result %}
      <h2 class="OLogn" style="top:10%; position: relative; text-align: center; color: black; font-size: 50px; font-family: Inter; font-weight: 400; letter-spacing: 2.50px; word-wrap: break-word">{{ result }}</h2>
      {% endif %}
  </div>
  <div class="EagerBeavers" style="left: 6.30px; top: 65px; position: absolute; transform: rotate(8deg); transform-origin: 0 0; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Eager Beavers</div>
  <img class="Beaver4624012801" style="width: 98px; height: 73px; position: absolute; transform-origin: 0 0; border-radius: 9px" src="https://ifh.cc/g/JQa5fb.png" />
</div>
</html>
